<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoApp</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css" type="text/css" media="all">
</head>
<body>
    <div id="outer-div">
        <h1 id="heading">TODO App</h1>
        
        <form action="/task-list" method="post" id="todoForm" autocomplete="off">

            <div id="description">
                <h4 class="sub-heading">DESCRIPTION</h4>
                <input type="text" name="description" placeholder="What do you need to do?" id="descriptionInputId">
            </div>
    
            <div id="outer-category-div">
                <div id="category-div">
                    <h4 class="sub-heading">CATEGORY</h4>
                    <h5 id="dropdown-heading">Choose a category</h5>
                    <p id="dropdown-icon"><i class="fa fa-solid fa-caret-down"></i></p>
                    <select id="dropdown-menu" name="category">
                        <option value="Personal"><p class="dropdown-list" onclick="listFunction('Personal')">Personal</p></option>
                        <option value="Work"><p class="dropdown-list" onclick="listFunction('Work')">Work</p></option>
                        <option value="School"><p class="dropdown-list"  onclick="listFunction('School')">School</p></option>
                        <option value="Cleaning"><p class="dropdown-list"  onclick="listFunction('Cleaning')">Cleaning</p></option>
                        <option value="Other"><p class="dropdown-list" onclick="listFunction('Other')">Other</p></option>
                    </select>
                </div>
                <div id="date-div">
                    <h4 class="sub-heading">DUE DATE</h4>
                    <input type="text" name="date" placeholder="dd/mm/yyyy" id="datepicker">
                </div>
            </div>

            <div class="buttons">
                <button id="add-task" type="submit"><i class="fa fa-solid fa-plus"></i>&nbsp;ADD</button>
                <button id="delete-task"><i class="fa fa-solid fa-trash"></i>&nbsp;DELETE</button>
            </div>

        </form>

        <% for(let i of todoList){ %>
            <div class="task-list">
                <input type="checkbox">
                <h3 id="listTextId"><%= i.description %></h3>
                <p><%= moment(i.date).format('MMMM Do, YYYY') %></p>
                <button><%= i.category %></button>
            </div>
        <% } %>
        
    </div>
    
</body>
<script src="script.js"></script>
</html>