#outer-div{
    width: 650px;
    border: 2px solid grey;
    margin: auto;
    margin-top: 50px;
}

#heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;
    text-align: center;
    border-bottom: 1px solid grey;
    padding-bottom: 14px;
    margin-bottom: 0px;
}

.sub-heading{
    color: gray;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin-top: 14px; */
    margin-left: 15px;
    margin-bottom: 0px;
    font-size: large;
}

#description{
    border-bottom: 1px solid grey;
}

#descriptionInputId:hover{
    background-color: rgba(227, 227, 227, 0.694);
}

#description input{
    color: gray;
    margin-left: 15px;
    margin-top: 2px;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 600px;
    outline: none;
    font-size: medium;
}

#descriptionInputId{
    margin-bottom: 10px;
}

#dropdown-menu{
    list-style: none;
    display: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    width: 50%;
    margin-top: 0px;
    padding-left: 15px;
    margin-left: 15px;
    background-color: rgba(227, 227, 227, 0.694);
    box-shadow: 6px 6px 10px grey;
}

#dropdown-menu p{
    margin-top: 0px;
    margin-bottom: 0px;
}

#dropdown-heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    margin-left: 15px;
    margin-top: 2px;
    width: 300px;
    margin-bottom: 1px;
}

#outer-category-div{
    border-bottom: 1px solid gray;
    display: flex;
}

#dropdown-heading:hover{
    background-color: rgba(227, 227, 227, 0.694);
}

#category-div{
    width: 50%;
    padding-bottom: 14px;
}

#dropdown-icon{
    width: 10px;
    position: absolute;
    top: 248px;
    left: 746px;
    color: gray;
}

#datepicker{
    outline: none;
    border: none;
    font-size: medium;
    margin-left: 11px;
    width: 120px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#datepicker:hover{
    background-color: rgba(227, 227, 227, 0.694);
}

#date-div{
    padding-left: 100px;
}

.buttons{
    border-bottom: 1px solid gray;
    width: 100%;
}

#add-task{
    font-size: 20px;
    padding: 20px;
    background-color: rgba(28, 28, 28, 0.584);
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 30%;
}

#delete-task{   
    font-size: 20px;
    padding: 20px;
    background-color: rgb(194, 27, 27);
    margin-left: 10px;
}

.task-list{
    border-bottom: 1px solid grey;
    display: flex;
}

#category-text{
    border: 1px solid red;
    padding: 15px;
    font-weight: 700;
    background-color: blue;
}

#listTextId{
    border: 2px solid red;
    display: inline;
}

#date-text{
    margin-top: 55px;
    justify-content: left;
}